.dark-mode .about-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 15%;
    min-height: 700px;
    /* Optional: use a solid color or gradient instead of an image */
    background: linear-gradient(135deg, #0d1116 0%, #1a1a2e 50%, #16213e 100%);
    /* To use an image again, uncomment below and remove the background line above: */
    /* background-image: url("../images/bg-dark.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.about-section .content {
    text-align: left;
    z-index: 2;

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;

        svg {
            font-size: 1.8em;
        }
    }

    .mobile_social_icons {
        display: none;
    }

    p {
        font-size: 1.5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .main-intro {
        font-size: 1.1em;
        line-height: 1.6;
        margin-top: 0;
        margin-bottom: 0.75em;
        max-width: 42em;
    }

    .main-intro:last-of-type {
        margin-bottom: 0;
    }

    .typing-intro {
        max-width: 42em;
        min-height: 1.6em;
    }

    .main-intro-typing {
        min-height: 1.6em;
    }

    .typing-cursor {
        display: inline-block;
        margin-left: 2px;
        animation: blink 0.8s step-end infinite;
        color: inherit;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

    h1 {
        font-size: 5em;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

.about-section .image-wrapper {
    z-index: 2;
    img {
        width: 190px;
        height: 190px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.about p {
    text-align: center;
    padding-top: 30%;
    padding-bottom: 30%;
}

/* Tablet: 768px – 1024px */
@media screen and (max-width: 1024px) {
    .about-section {
        padding-left: 8%;
        padding-right: 8%;
        min-height: 580px;
        gap: 24px;
    }

    .about-section .image-wrapper img {
        width: 160px;
        height: 160px;
    }

    .about-section .content h1 {
        font-size: 3.5em !important;
    }

    .about-section .content .main-intro,
    .about-section .content .typing-intro {
        max-width: 100%;
    }
}

/* Mobile: 768px and below – stack layout */
@media screen and (max-width: 768px) {
    .about-section h1 {
        font-size: 3em !important;
        text-align: left;
    }

    .about-section p {
        text-align: left;
    }

    .container {
        display: initial;
    }

    .social_icons {
        display: none !important;
    }

    .mobile_social_icons {
        padding-top: 10px;
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        color: white;

        svg {
            font-size: 1.8em;
        }
    }

    .about-section {
        padding-top: 120px;
        padding-bottom: 2rem;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .about-section .content {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .about-section .content h1 {
        text-align: center;
    }

    .about-section .content .main-intro,
    .about-section .content .typing-intro {
        text-align: left;
    }

    .about-section .image-wrapper {
        padding-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about-section .image-wrapper img {
        width: 140px;
        height: 140px;
    }
}

/* Phone: 480px and below */
@media screen and (max-width: 567px) {
    .nav-left {
        padding-top: 20px;
        float: left;
    }

    .nav-left img {
        height: 35px;
    }

    .nav-right {
        float: right;
    }

    .nav-right li {
        padding: 10px 15px;
        list-style: none;
        font-size: 13px;
        color: white;
        width: 10%;
    }

    .nav-right ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
    }

    .about {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .about-section {
        padding-top: 100px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        background-attachment: scroll;
    }

    .about-section .content h1 {
        font-size: 2.25em !important;
    }

    .about-section .content .main-intro {
        font-size: 1rem;
    }

    .about-section .image-wrapper img {
        width: 120px;
        height: 120px;
    }

    .mobile_social_icons svg {
        font-size: 1.5em;
    }
}